:root {
  --textColor: #ffffff;
  --linkColor: #4eca89;
  --themeColor: #4eca89;
  --backgroundColor: #222222;
  --lightGrey: #f9f7f7;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 40px 0;
}

pre {
  word-break: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.start {
  text-align: center;
}

.widthWrapper {
  max-width: 700px;
  margin: 0 auto;
}

.addPadding {
  padding: 20px;
}

.loggedInWrapper {
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loginBtn {
  display: inline-block;
  margin: 20px 0;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 157, 255, 0.7);
}
